<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{STATIC_URL}}tool/css/bootstrap.css">
<link rel="stylesheet" href="{{STATIC_URL}}tool/css/bootstrap-theme.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/docs_css.css">
</head>
<body>
   <header class="navbar navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">
            <a href="#" class="logo">I.S.</a>
        </div>
        <ul class="nav navbar-nav" id='is-nav'>
            <li  class="active">
              <a href="javascript:;" class="navbar-brand">Bootstrap</a>
            </li>
            <li>
              <a href="javascript:;">Getting started</a>
            </li>
            <li>
              <a href="javascript:;">CSS</a>
            </li>
            <li>
              <a href="javascript:;">Components</a>
            </li>
            <li>
              <a href="javascript:;">JavaScript</a>
            </li>
            <li>
              <a href="javascript:;">Customize</a>
            </li>
        </ul>
      </div>
    </header>
    <div class="container">
      <div class="main-content">
        <div class="left-content" id="left-content">
          <div class="left-hand" id="left-hand">
            <div class="is-outer">
              <div class="is-middle">
                <div class="is-hand-inner">
                  <span class="glyphicon glyphicon-hand-left left-left-hand" id="ll-hand"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="right-hand" id="right-hand">
            <div class="is-outer">
              <div class="is-middle">
                <div class="is-hand-inner">
                  <span class="glyphicon glyphicon-hand-right right-right-hand" id="rr-hand"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="img-hover"></div>
          <div class="img-area">
            <div class="is-outer">
              <div class="is-middle">
                <div class="is-img-inner" id="is-img-inner">
                  <img src="/media/jchen/jQuery/jquery-img/$.each的优美用法2.png" id="main-img">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-content">
          <div class="roll-area" id="roll-area">
            <div id="roll-tmp">
              <ul id="roll-ul">
                <li data-seq="0">
                  <a href="javascript:;"><img src="/media/jchen/jQuery/jquery-img/$.each的优美用法2.png">
                    <div class="img-name">zhe</div>
                  </a>
                </li>
                <li data-seq="1">
                 <a href="javascript:;"><img src="/media/jchen/jQuery/jquery-img/$.each的优美用法2.png"><div class="img-name">zhe</div></a>
                </li>
                <li data-seq="2">
                  <a href="javascript:;"><img src="/media/jchen/jQuery/jquery-img/$.each的优美用法2.png"><div class="img-name">zhe</div></a>
                </li>
                <li data-seq="3">
                 <a href="javascript:;"><img src="/media/jchen/jQuery/jquery-img/$.each的优美用法2.png"><div class="img-name">zhe</div></a>
                </li>
                <li data-seq="4">
                  <a href="javascript:;"><img src="/media/jchen/jQuery/jquery-img/$.each的优美用法2.png"><div class="img-name">zhe</div></a>
                </li>
                <li data-seq="5">
                  <a href="javascript:;"><img src="/media/jchen/jQuery/jquery-img/$.each的优美用法2.png"><div class="img-name">zhe</div></a>
                </li>
                <li data-seq="6">
                  <a href="javascript:;"><img src="/media/jchen/jQuery/jquery-img/$.each的优美用法2.png"><div class="img-name">zhe</div></a>
                </li>
              </ul>
              <div class="curr-img-hover" id="curr-img-hover"></div>
            </div>
            
          </div>
        </div>
      </div>  
    </div>


  
    <script src="{{STATIC_URL}}tool/js/jquery-1.10.2.min.js"></script>
    <script src="{{STATIC_URL}}tool/js/bootstrap.js"></script>
    <script src="{{STATIC_URL}}js/docs_js.js"></script>
    <script>
    window.onload = IS.imgMiddle();
    </script>
</body>
</html>